<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UI.Dos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <!-- MINHA CONEXAO DATA SOURCE -->
  <connectionStrings>
    <add name="connectionStringConfigDemo01" connectionString="data source=DESKTOP-ERL7S97\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=dotNetDemo01" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <userSettings>
    <UI.Dos.Properties.Settings>
      <setting name="appConfig" serializeAs="String">
        <value/>
      </setting>
    </UI.Dos.Properties.Settings>
  </userSettings>
</configuration>
